@font-face {
    font-family: 'Nunito';
    src: url(/assets/font/Nunito-Regular.ttf);
}

* {
    font-family: 'Nunito';
    overflow-x: hidden;
}

h2 {
    overflow: hidden;
}

h5 {
    overflow: hidden;
}

body {
    width: 100vw;
    height: auto;
    cursor: url('/assets/img/cursor.cur') 50 50, auto !important;
}

.floating-button {
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: -500px;
    background: #36d3b7;
    transition: 1s;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.floating-button i {
    margin-top: -10px;
}

.floating-button-on-scroll {
    bottom: 50px;
}

.home {
    width: 100%;
    height: 100vh;
    padding: 0;
}

.info {
    height: 100%;
}

.on-scroll {
    background: #36d3b7;
}



/* Navbar */

.navbar {
    transition: 1s;
}



.info p {
    font-size: 1.1rem;
}

.info a {
    color: black;
}

/* home */

.icon {
    width: 50px;
    height: 50px;
    background: #36d3b7;
    border-radius: 100%;
    position: absolute;
    transition: 1.5s;
}

.icon-scroll {
    left: -100vw;
}

.one {
    top: 30vh;
    left: 20vw;
}

.two {
    top: 60vh;
    right: 20vw;
}

.three {
    right: 35vw;
    top: 20vh;
}

.text-hello h2>span {
    color: #36d3b7;
    font-size: 2.3rem;
    animation: show 0.7s alternate infinite;
}

.text-hello h2 {
    animation-name: tada;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.bi-chevron-double-down {
    font-size: 1.2rem;
    animation: show 1s alternate infinite;
}

/* About */

.about {
    width: 100%;
}

.rtx .img img {
    animation: float 4s infinite;
}

/* Skill */

.skill {
    width: 100%;
}

/* Project */

.project {
    width: 100%;
    height: 100vh;
}

.text-justify {
    text-align: justify;
}

.tt p>span {
    color: #36d3b7;
}

.tt a {
    text-decoration: none;
}

.carousel-inner {
    height: auto;
    border-radius: 5px;
}

.rty {
    width: 700px;
}

.end-text {
    animation: show 0.6s alternate infinite;
    font-size: 1.4rem;
}

.bi-github {
    align-items: center;
    display: flex;
    cursor: pointer;
}

/* Footer */

.img-footer {
    width: 100%;
    margin-bottom: -1%;
    margin-top: 100px;
}

.footer {
    background: #36d3b7;
    color: white;
    padding: 0px 8px;
    padding-top: 50px;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-content div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content h2 {
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
    display: flex;
}

.footer-content a {
    text-decoration: none;
    color: white;
    padding: 0px 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-content li {
    list-style: none;
    display: flex;
    margin: 6% 0%;
}

.footer-content li img {
    width: 10%;
}

.footer-content div:nth-child(2) div {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1.8%;
}

.footer-content div:nth-child(2) div p {
    padding: 0px 10px;
    text-align: justify;
    font-size: 0.9rem;
}

.footer-content div:nth-child(2) div iframe {
    width: 50%;
    height: 80%;
    display: flex;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    font-weight: 300;
    padding: 20px 0px;
}

/* Media Query */

@media screen and (max-width: 1201px) {
    .tt {
        width: 100%;
    }

    .rtx {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .rtx .img {
        width: 300px;
        margin: 40px 0px;
    }
}

@media screen and (max-width: 940px) {
    .footer-content h2 {
        font-size: 1.5rem;
        font-weight: 400;
        width: 37%;
    }

    .footer-content div:nth-child(2) div iframe {
        width: 100%;
    }

    .footer-content div:nth-child(2) div {
        flex-direction: column;
    }
}

@media screen and (max-width: 770px) {
    .pppd {
        width: 100%;
        /* margin-left: 20%; */
    }

    .footer-content h2 {
        font-size: 1rem;
    }

    .footer-content a {
        font-size: 0.6rem;
    }

    .footer-content li {
        align-items: center;
    }

    .footer-content li img {
        width: 5%;
    }

    .footer-content div:nth-child(2) div p {
        font-size: 0.6rem;
     }

     .footer-copyright p{
        font-size: 0.7rem;
    }
}

/* Keyframes */

@keyframes tada {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes show {

    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}